<div class="form-group">
    <a href="@Url.Action("Create","Home")">
        <button>Зарегистрироваться</button>
    </a>
    <a href="@Url.Action("AdminPage","Home")">
        <button>Страница админа</button>
    </a>
</div>
